body{
    color: red;
}

.para{
    color: blue;
    height: 50px;
    
}


.nid1{
    color: yellow;
    font-size: x-large;
    background-color: blueviolet;
    
    
}

.Trulli{
    height: 500px;
    width: 500px;
    background-color: blueviolet;
}